---
# generate [mysqld] config to /etc/mysql/percona-server.conf.d/mysqld.cnf
mysqld:
  conf_location: /etc/mysql/percona-server.conf.d/mysqld.cnf
  mysql_user: mysql
  bind-address: 0.0.0.0
  pid_file: /var/run/mysqld/mysqld.pid
  socket_login: /var/run/mysqld/mysqld.sock
  log_location: /var/log/mysql/error.log
  data_dir: /var/lib/mysql
  server_port: 3306
  expire_logs_days: 10
  max_binlog_size: 100M
  binlog_format: ROW
  max_connections: 10000
  innodb_buffer_pool_instances: 32
  innodb_buffer_pool_chunk_size: 8G
  innodb_fast_shutdown: 0
  query_cache_size: 0
  key_buffer_size: 16G
  innodb_buffer_pool_size: 41G
  innodb_log_file_size: 4G
  innodb_file_per_table: ON
  thread_cache_size: 256
  innodb_log_buffer_size: 521M

## mysql client config
mysql:
  root_password: "<your-secret-password>"
  server_version: 5.7
  database:
    enabled: false
    name: "<your-database-name>"
  user:
    enabled: false
    name: "<your-username>"
    password: "<your-password>"

xtrabackup:
  enabled: false
  admin:
    user: "<xtrabackup-admin-user>"
    password: "<xtrabackup-admin-password>"    
  version: 24 # install version xpora xtra-backup availabel ref https://www.percona.com/doc/percona-xtrabackup/8.0/index.html

replication:
  master:
    node: "{{ groups['mysql_master_cluster'] | first }}"
    ip: "{{ hostvars[groups['mysql_master_cluster'] | first ]['ansible_default_ipv4']['address'] }}"
  user:
    name: "<replication-admin>"
    password: "<replication-admin-password>"
    host: "%" # grant permission all by default, or you can specify host ex: 192.168.%
    privs: "*.*:REPLICATION SLAVE,REPLICATION CLIENT"