[mysqld]
user                            = {{ mysqld.mysql_user }}
pid-file                        = {{ mysqld.pid_file }}
socket                          = {{ mysqld.socket_login }}
port                            = {{ mysqld.server_port }}
bind-address                    = {{ mysqld.bind_address | default('localhost') }}

basedir                         = /usr
datadir                         = /var/lib/mysql
tmpdir                          = /tmp
lc-messages-dir                 = /usr/share/mysql

explicit_defaults_for_timestamp

log-error                       = {{ mysqld.log_location }}
expire_logs_days                = 30

# Recommended in standard MySQL setup
sql_mode                        = NO_ENGINE_SUBSTITUTION,STRICT_ALL_TABLES

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links                  = 0

# MySQL Tunning connection
connect_timeout                 = {{ mysqld.connect_timeout | default('50') }}
key_buffer_size                 = {{ mysqld.key_buffer_size }}
max_connections                 = {{ mysqld.max_connections | default('150') }}
query_cache_size                = {{ mysqld.query_cache_size }}
show_compatibility_56           = OFF

# MySQL Tunning innodb engine
default_storage_engine          = InnoDB
innodb_buffer_pool_instances    = {{ mysqld.innodb_buffer_pool_instances }}
innodb_buffer_pool_chunk_size   = {{ mysqld.innodb_buffer_pool_chunk_size }}
innodb_buffer_pool_size         = {{ mysqld.innodb_buffer_pool_size | default('50G') }}
innodb_fast_shutdown            = {{ mysqld.innodb_fast_shutdown }}
innodb_flush_method             = {{ mysqld.innodb_flush_method | default('O_DIRECT') }}
innodb_log_file_size            = {{ mysqld.innodb_log_file_size | default('1G') }}
innodb_io_capacity              = {{ mysqld.innodb_io_capacity | default(1000) }}
innodb_file_per_table           = {{ mysqld.innodb_file_per_table | default('1') }}
innodb_lock_wait_timeout        = {{ mysqld.innodb_lock_wait_timeout | default('600') }}
innodb_log_buffer_size          = {{ mysqld.innodb_log_buffer_size | default('256M') }}
innodb_open_files               = {{ mysqld.innodb_open_files | default('400') }}

# MySQL Tunning connection thread
thread_cache_size               = {{ mysqld.thread_cache_size }}
sort_buffer_size                = {{ mysqld.sort_buffer_size | default('16M') }}
read_buffer_size                = {{ mysqld.read_buffer_size | default('32M') }} 
read_rnd_buffer_size            = {{ mysqld.read_rnd_buffer_size | default('16M') }}
join_buffer_size                = {{ mysqld.join_buffer_size | default('8M') }}
bulk_insert_buffer_size         = {{ mysqld.bulk_insert_buffer_size | default('512M') }}
tmp_table_size                  = {{ mysqld.tmp_table_size | default('256M') }}
max_heap_table_size             = {{ mysqld.max_heap_table_size | default('512M') }}

myisam_recover_options          = {{ mysqld.myisam_recover_options | default('BACKUP') }}
table_open_cache                = {{ mysqld.table_open_cache | default('12288') }}
myisam_sort_buffer_size         = {{ mysqld.myisam_sort_buffer_size | default('512M') }}
concurrent_insert               = {{ mysqld.concurrent_insert | default('2') }}
query_cache_limit               = {{ mysqld.query_cache_limit | default('256K') }}
log_warnings                    = 2
log-queries-not-using-indexes
log_bin_trust_function_creators = {{ mysqld.log_bin_trust_function_creators | default('1') }}

# Enable the slow query log to see queries with especially long duration
slow_query_log                  = {{ mysqld.slow_query_log | default('1') }}
slow_query_log_file             = {{ mysqld.log_slow_location }}
long_query_time                 = {{ mysqld.long_query_time | default('1') }}
log_slow_rate_limit             = {{ mysqld.log_slow_rate_limit | default('1000') }}
log_slow_verbosity              = {{ mysqld.log_slow_verbosity | default('query_plan') }}

# Replication
{% if mysql_replication %}
server-id                       = {{ mysql_server_id }}

{% if mysql_replication_role == 'master' %}
log_bin                         = mysql-bin
log-bin-index                   = mysql-bin.index
expire_logs_days                = {{ mysqld.expire_logs_days }}
max_binlog_size                 = {{ mysqld.max_binlog_size }}
binlog_format                   = {{ mysqld.binlog_format}}
{% endif %}

{% if mysql_replication_role == 'slave' %}
read_only
skip-slave-start
relay-log                       = relay-bin
relay-log-index                 = relay-bin.index
{% endif %}
{% endif %}
